* {
    background: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?w=996&t=st=1696068289~exp=1696068889~hmac=98423b9651f388e201a73f3ceba3e254e204f1567af52d7902e5ca40b6898be1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    /* Set a maximum width for better flexibility */
    margin: 0 auto;
    /* Center the content */
    background-color: #683edb;
    padding: 20px;
    box-sizing: border-box;
    /* Include padding in width */
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Changed the font for broader compatibility */
    background-color: #f2f2f2;
    color: #333333;
  }
  
  
  .dices {
    padding: 10px;
    column-count: 5;
    column-fill: balance;
    background-color: #00c874;
  
  }
  
  .headings {
    column-count: 5;
    column-fill: balance;
    background-color: #2ac4d5;
    border-radius: 100px;
  
  }
  
  .credits {
    column-count: 5;
    column-fill: balance;
    background-color: #7110a6;
    border-radius: 100px;
    margin: 10px;
  }
  
  .text-center {
    color: white;
    text-align: center;
  }
  
  .dices-computer-player {
    column-count: 2;
  }
  
  .dices-player {
    column-count: 2;
  }
  
  /* .message {
    column-count: 3;
    column-fill: balance;
  } */
  
  .message-box {
    background-color: #3e1b80;
    border: 5px solid rgb(22, 172, 189);
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
    /* Adjust vertical margin */
  }
  
  .controls {
    padding: 10px;
    column-count: 6;
    column-fill: balance;
    background-color: #167141;
  }
  
  .dice {
    font-size: 100pt;
    color: #e02076;
    padding: 40px;
    border-radius: 50%;
  }
  
  button {
    font-family: cursive;
    width: 100%;
    font-size: 11pt;
    padding: 50px;
    background-color: #76096b;
    color: #efefef;
    border-radius: 100px;
    border: 5px solid rgb(22, 172, 189);
  
  
  }
  
  @media screen and (max-width: 768px) {
  
    .dices,
    .headings,
    .credits,
    .dices-computer-player,
    .dices-player,
    .controls,
    .message {
      flex-direction: column;
      /* Adjust layout for smaller screens */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      /* Adjust based on your preference */
    }
  }